
.App {
  text-align: left;
}

.Start-page {
  min-height: 100vh;
  min-width: 100vw;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(1, 67, 25);
}

.Nav-bar {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
}

.btn {
  color: black;
  margin : 2vh 5vw;
  min-height: 5vh;
  min-width: 10vw;
  font-size: calc(2vmin);
  background-color: transparent;
  border-color: transparent;

  transition: color;
}

.btn:press {
  color:red;
}
.btn:hover {
  color:grey;
}

.Body-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  padding: calc(4px + 2vmin);
  color: white;

  transition: background-color 3s ease-in;
}

.Body-content:active {
  background-color: rgba(0, 0, 0, 0.8);;
}
.Body-content:current {
  background-color: rgba(0, 0, 0, 0.8);;

}

.App-footer {
  background-color: #8F7F6B;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  padding: 1vw;
}

.Footer-CR {
  font-size: 2vmin;
}

