.App {
  text-align: left;
}

.App-header {
  background-color: #8F7F6B;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
}

button {
  color: red;
  min-width: 10vw;
  min-height: 5vh;
  padding: 10px;
}

.App-body {
  background-color: #6B8F7A;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: calc(4px + 2vmin);
}

.Body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
}

.App-footer {
  background-color: #8F7F6B;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
  padding: 1vw;
}

.Footer-CR {
  font-size: 2vmin;
}




/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-photo-grow {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(0.5, 0.5);
  }
} */

